# Versions known to work under Python 3.9.2 on Debian bullseye
# Fri 18 Mar 12:01:52 GMT 2022
argparse  # Just take the 'system' version
bottle==0.12.23
enum34==1.1.10
gevent==22.10.2
jsonschema==4.17.3
mysql-connector-python==8.0.31
pyzmq==24.0.1
requests==2.28.1
simplejson==3.18.0
