body {
    padding-top: 70px;
}

section.container {
    margin-bottom: 20px;
    
    /* FIX ANCHORS */
    padding-top:70px;
    margin-top:-70px;
}
    
    .container h2 {
        margin-top: 0;
    }
    
    .container .chart {
        height: 300px;
        margin-bottom: 10px;
    }
    
footer .navbar-default {
    border-width: 1px 0 0;
    margin-bottom: 0;
}
    
.highcharts-container{width:100% !important; height:100% !important;}